.card-header>span,
.card-body>span,
.card-footer>span {
    float: right;
}

.card-header>span>mat-icon,
.card-footer>span>mat-icon {
    cursor: pointer;
}

.validation-err-msg {
    font-size: 14px;
    color: #f00;
}