<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1 class="header-text">
        <span style="color: #00a8f6">Mini Cart</span> -<br />
        Your One-Stop <span style="color: #f00">Online</span> shopping portal. <br />
        <span style="color: #00a8f6">Hassle free</span> shopping <span style="color: #f00">experience</span> is just a
        click away...
        <br />
      </h1>
    </div>
    <div class="col-sm">
      <ng-lottie containerClass="moving-box another-class" [styles]="styles" [options]="options"
        (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
  </div>
  <div class="text-center mb-4">
    <a routerLink="/registration">
      <button class="btn btn-info">Click Here to register</button>
    </a>
  </div>
</div>