<div class="container p-3 mt-4 mb-5">
    <div class="form-holder-div border rounded p-4 shadow-lg bg-white">
        <ngb-alert *ngIf="alert" [type]="alert.type" (closed)="close()">
            <strong>{{ alert.title }}</strong><br />
            {{ alert.message }}
        </ngb-alert>
        <div class="form-holder-div-title pt-3 mb-4">
            <h3>User Login</h3>
            <hr>
        </div>
        <div class="form-holder-div-body p-3">
            <form #loginForm="ngForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Enter your Email</mat-label>
                    <input matInput [required]="true" name="email" type="email" maxlength="255"
                        pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}" #loginEmail="ngModel" ngModel />
                    <mat-hint align="end" *ngIf="loginEmail.value">{{ loginEmail.value.length }} / 255</mat-hint>
                    <mat-error *ngIf="loginEmail.errors && (loginEmail.invalid || loginEmail.touched)">
                        <span *ngIf="loginEmail.errors?.['required']">Email is <strong>required</strong></span>
                        <span *ngIf="loginEmail.errors?.['pattern']">Please enter a <strong>valid</strong> email</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [required]="true" name="pass" [type]="hide ? 'password' : 'text'"
                        #loginPass="ngModel" ngModel>
                    <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                    <mat-error *ngIf="loginPass.errors && (loginPass.invalid || loginPass.touched)">
                        <span *ngIf="loginPass.errors?.['required']">Password is <strong>required</strong></span>
                    </mat-error>
                </mat-form-field>

                <div class="text-center mb-5">
                    <!-- loginForm.form.invalid ||  -->
                    <button mat-raised-button color="primary" [disabled]="submitted" (click)="validateUser(loginForm)">
                        Login <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="text-center">
                    <span class="text-muted">
                        Don't have an account?
                    </span>
                    <a routerLink="/registration" class="text-info">
                        Sign up now
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>