<app-topnav [loginStatus]="isLoggedIn()"></app-topnav>
<div class="sidenav" *ngIf="isLoggedIn()">
    <div class="innernav">
        <a href="">Link 1</a>
        <h3 class="innernav-heading">InnerNav Heading 1</h3>
        <a href="">Link 1</a>
        <a href="">Link 2</a>
        <a href="">Link 3</a>
        <a href="">Link 4</a>
        <h3 class="innernav-heading">InnerNav Heading 2</h3>
        <a href="">Link 1</a>
        <a href="">Link 2</a>
        <h3 class="innernav-heading">InnerNav Heading 3</h3>
        <a href="">Link 1</a>
        <a href="" class="active">Link 2</a>
        <a href="">Link 3</a>
        <a href="">Link 1</a>
        <a href="">Link 2</a>
        <a href="">Link 3</a>
        <a href="">Link 1</a>
        <a href="">Link 2</a>
        <a href="">Link 3</a>
        <a href="">Link 1</a>
        <a href="">Link 2</a>
        <a href="">Link 3</a>
    </div>
</div>
<div [ngClass]="{'main': isLoggedIn()}">
    <router-outlet></router-outlet>
    <app-footer [loginStatus]="isLoggedIn()"></app-footer>
</div>